{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- Navbar -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <img src="{% static 'img/topit.png' %}" style="width: 350px; height: auto; display: block; margin: 0 auto;" alt="">
                    <h2 class="text-center mb-4">Welcome, {{ name }}!</h2>
                    <h3>Staff has been notified and will see you soon!</h3>
                    
                </div>
            </div>
        </div>

    <script>
        setTimeout(function() {
            window.location.href = 'https://visitorpass.topitsolutions.co.nz/';
            // window.location.href = 'http://localhost:8000/';

        }, 5000); // 3000 milliseconds = 3 seconds
    </script>

    
{% endblock %}
